@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

img {
  position: relative;
  margin: 25px;
  outline: solid darkgray 1px;
  background-color: darkgray;
  width: auto;
  height: 175px;
  object-fit: scale-down;
}