.header-selector {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#horns {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

/* From Chris Coyer https://css-tricks.com/couple-takes-sticky-footer/ for sticky footer */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}
/* end of sticky footer code */

